body{
 padding:0px;
 margin: 0px;
}
/* Menu */
nav {
    background-color: #191919;
}
nav a {
    color:#ccc;
}
nav a:hover {
    color:#eee;
    text-decoration:underline!important;
}
/* Parte do mes */
#container-month {
    margin:0px;
    margin-top:20px;

}
.container-login {
    float:right;
    margin-right: 10px;
    margin-left: 25px;

}
.container-login a {
    list-style: none;

}
.month-container-row {

}
#container-month {
    background-color:#d4d4d4;
}
.month-container-prev , .month-container-next {
    margin-top: auto;
    margin-bottom: auto;
    height:45px;
}
.month-container-prev a, .month-container-next a{
    padding:3px 6px 3px 6px;
    width:33%;
    height: 100%;
}
.month-container-next a {
    float:right;
}
.month {
    width:100%;
    text-align:center;

}
#month-letter, #month-prev, #month-next {
    font-size:40px;
    font-family: sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
}
/* Calendario(Mostrando os Dias) */
.calendar-col {
    padding:0px 2px 0px 2px!important;
    padding:0;
    display:flex;
    margin: auto;
    background-color: #d4d4d4;
}
.calendar-container {

}
.calendar-container-day {
    width:156px;

    height:100px;
    border: 1px solid #000;
    
    float:left;
}
.calendar-container-day ul {
    padding:0px;
    margin: 0px;
}
.calendar-container-day li {
    list-style-type: none;
    font-size: 25px;
}
.calendar-container-day li:nth-child(n+4) {
    display:none;
}
/* Mostrando os agendamento no home */
.quadr_shecules_mark {
    float:left;
    width:12%;
    
    height:20px;
    background-color:#8ae8e1;
    text-decoration: none;
}
.quadr_schedules {
    float:left;
    width:90%;
    margin-bottom: 3px;
    height: 20%;
    background-color:#bbc7c6;
    white-space: nowrap;
    overflow: hidden;
    

}
.quadr_schedules a {
    
    text-decoration: none;
}
.quadr_schedules a p {
    color:#000;
    font-size:12px;
   
    
}

/* Schedules(Agendamentos) */
.title-h3 {
    margin-top: 20px;
    text-align: center;
}

.table-schedules {
    text-align:center;
    margin-top:3px;
   
}
/* Schedules add */
#schedules-form label {
    
    font-size: 25px;
}
#schedules-form textarea {
    width:100%;
    height:100px;
    font-size: 18px;
}
/*  Login */
.row-login {
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
/* Esqueceu a senha */
.forgetPassword {
    display:flex;
    justify-content:center;
}
.forgetPassowrd-form {
    margin-top: 20px;
    
}